{% extends 'base.html' %} 
{% load crispy_forms_tags %} 

{% block title %}Password Reset{% endblock title %} 

{% block content %} 
    <div class="container">
        <h2>Password Reset</h2>
        <p>Please enter your eMail address.  An eMail will be sent to you
            with the appropriate instructions to set a new password.
        </p>
        <form method="POST">
            {% csrf_token %} 
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Send me instructions!">
        </form>
    </div>
{% endblock content %}