h1 {
    color: blue;
    margin: 1px;
    text-align: center;
}
h3 {
    margin:10px;
    text-align: center;
}
@keyframes message {
    0% {color:black;}
    100% {color: white;}
}
#demo {
    color: white;
    font-weight: 800;
    animation-name: message;
    animation-duration: 3s;
    animation-iteration-count: 7;
    background-color: green;
}
.container {
    display: flex;
    flex-direction: column;
}
.container button{
    width: 300px;
    margin: 20px;
}
.instructions {
    margin: 5px;
}
.main-body{
    background: rgb(34,195,188);
    background: linear-gradient(0deg, rgba(34,195,188,1) 0%, rgba(45,238,253,0.4206057422969187) 100%);
}
.font-weight-bold{
    font-weight: bold;
}
.card {
    margin-bottom: 5px;
}
.main-body img {
    width: 300px;
    height: 300px;
}
.image-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    padding: 5px;
}
@media (max-width: 600px){
    .image-div{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2px;
        padding: 5px;
        position: relative;
        margin-left: 30px;
    }
}
.graph-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    margin: 5px;
}
@media (max-width: 600px){
    .graph-div{
        display: grid;
        grid-template-columns: 1fr;
        
    }
}
.graph {
    width:600px;
    height:300px;
}
.plotter{
    max-width: 125px;
}
.sort-buttons{
    display: flex;
}
