{% extends 'base.html' %} 
{% load static %}

{% block content %} 
   
     
    <div class="container main-body">
        <h1>About Us and our NewsAnalyzer</h1>
        <h2>The Developers</h2>
        <p>This application was developed by Felipe Botero and Got Stormy in 2021.  Use it for good!</p>
        <div class='image-div'>
            <img src="{% static 'img/FB.jpg' %}" alt="My image" >
            <img src="{% static 'img/got_stormy.jpg' %}" alt="got stormy" >
        </div>
        <br>
        <h3>Providing timely, accurate, objective and interesting news and perspectives is my passion.  Winning races is Got Stormy's.
        </h3>
        <p class="instructions">This application will help you navigate the overwhelming world of news, that is available on the Internet. It will help you better understand the news content and driving force behind its presentation, before you spend your valuable time reading a particular article and enables you to prepare yourself for how it may influence your thinking and feelings.  </p>
        <h2>What it does</h2>
        <p class="instructions">The user is able to select an RSS feed from several pre-selected providers and run the articles through a text analyzer that will generate several statistics on each article including a Positivity Index. The analysis results will provide the insight you need to better select the appropriate news feed that is right for you.
        </p>
        <p class="instructions">The positivity index is calculated using approximately 10k words, both positive and negative, matching each word in the article to these. Based on the frequency of matches and the total number of words in the article the Positivity Index is calculated. A positive index number indicates that the article has a positive tone and a negative index number means that it has a negative outlook regarding the subject matter.
        </p>
        <h2>How it works</h2>
        <p class="instructions">Once the user selects the RSS feed to analyze, the application will do the rest. It will retrieve the articles and run them through the analyzer. It will display the results in the View Results page.
        
        The results page allows the user to read the entire original article and/or view an extended set of analysis results, including the top five most used words.
            </p>
        <p class="instructions">The system keeps a historical record of all the executions of the analyzer.  You can view the results in a graphical presentation, in the Historical Graphs section.  And by clicking on any of the individual graphs, you can see the detail for a particular feed.</p>
        </div>
   
{% endblock content %} 