{% extends 'base.html' %} 
{% load static %}

{% block content %} 
   
     
    <div class="container main-body">
        <h1>About Me</h1>
        <p>This application was developed by Felipe Botero and Got Stormy in 2021.  Use it for good!</p>
        <div class='image-div'>
            <img src="{% static 'img/FB.jpg' %}" alt="My image" >
            <img src="{% static 'img/got_stormy.jpg' %}" alt="got stormy" >
        </div>
        <br>
        <p>Providing timely, accurate, objective and interesting news and perspectives is my passion.
        </p>
    </div>
   
{% endblock content %} 