{% extends 'base.html' %} 

{% block title %}Articles List{% endblock title %} 

{% block content %} 
   <div class="container main-body">
      <h1>Analysis results by Article</h1>
      {% for article in object_list|dictsort:"record_type" %} 
      <div class="card">
         <div class="card-header">
            {% if article.record_type > 0 %}
            <span class="font-weight-bold">
                  Title : 
            </span>
            {% endif %}
            {{ article.title }}

            {% if article.record_type > 0 %}
               <br>
               <span class="font-weight-bold">
                  Date Published : 
               </span>
               {{ article.date }}
            {% endif %}
         </div>
         <div class ="card-body">
               {{ article.description }}
               {% if article.record_type > 0 %}
                  <br>
                  <a href="{{ article.link }}" target="_blank">Click here to see full article</a>
               {% endif %}
         </div>
         <div class="card-footer">
            {% if article.record_type == 0 %}
               <span class="font-weight-bold">
                  Number of Articles : 
               </span>
               {{ article.num_articles }}
               <br>
            {% endif %}
            <span class="font-weight-bold">
                  Word Count : 
            </span>
            {{ article.word_count }}
            <br>
            <span class="font-weight-bold">
               Positivity Index : 
            </span>
            {{ article.positivity_index }}
            {% if article.record_type > 0 %}
               <br>
               <a class="blue" href="{% url 'article_detail' article.pk %}">See more stats...</a>
            {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
   
   
{% endblock content %} 