{% extends 'base.html' %} 

{% block title %}Home{% endblock title %} 

{% block content %} 

   <h1>Home</h1>
   <br>
   <p>Welcome to the News Analyzer application.  Here you will be able to select a feed from an RSS provider and run the articles through a text analyzer software that will give you several statistics on each article including a positivity index.  This analysis will give you yet another measure to select the appropriate news feed for you.</p>
   <br>
   <p>Go to the "Select Feed" page first and select the feed that you would like to analyze.  The application will do the rest.  It will retrive the articles and run them through the analyzer.  It will display the results in the Articles list view.</p>
   
{% endblock content %} 