{% extends 'base.html' %} 

{% block title %}Home{% endblock title %} 

{% block content %} 
   <div class="main-body container">
      <h1>Welcome to the News Analyzer</h1>
      <br>
      <h2>Objective</h2>
      <p class="instructions">This application was developed to help you navigate the sometimes overwhelming world of news that is available on the Internet.  To get a better idea of the news that you are reading and how it might influence your thinking.  </p>
      <br>
      <h2>What it does</h2>
      <p class="instructions">  You will be able to select an RSS feed from several pre-selected providers and run the articles through a text analyzer that will give you several statistics on each article including a positivity index.  This analysis will give you yet another measure to select the appropriate news feed that is right for you.</p>
      <br>
      <p class="instructions">  The positivity index is calculated using approximately 10k words, both positive and negative, matching each word in the article to these and based on the frequency of matches the index is calculated.  A positive number indicates that the article has a positive tone and a negative index means that it has more negative words than positive ones.</p>
      <br>
      <h2>How it works</h2>
      <p class="instructions">Go to the "Select Feed" page first and select the feed that you would like to analyze.  The application will do the rest.  It will retrive the articles and run them through the analyzer.  It will display the results in the Articles list view.</p>
   </div>   
{% endblock content %} 