{% extends 'base.html' %} 

{% block title %}History of Feeds Analyzed{% endblock title %} 

{% block content %} 
   <div class="container main-body">
      <h1>Detail of Feeds Analyzed</h1>
      <div class="sort-buttons">
        <button class="btn btn-primary plotter" name="plotter" type='submit' onclick="location.href='{% url "history_plotter" %}'">Positivity Index Graphs</button>

      </div>
        <div class="table-responsive">
         <table class="table table-primary">
            <thead>
              <tr>
                <th scope="col">Feed Title</th>
                <th scope="col">Date Run</th>
                <th scope="col"># Articles</th>
                <th scope="col"># Words</th>
                <th scope="col">Index</th>
              </tr>
            </thead>
            <tbody>
                {% for history in object_list|dictsortreversed:'date' %} 
              <tr>
                <td>{{ history.title }}</td>
                <td>{{ history.date }}</td>
                <td>{{ history.num_articles }}</td>
                <td>{{ history.word_count }}</td>
                <td>{{ history.positivity_index }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
   </div>   
{% endblock content %} 